@import url('./common/navbar.css');
@import url('./common/header.css');
@import url('./common/content.css');

@import url('./component/button.css');
@import url('./component/icon.css');
@import url('./component/table.css');
@import url('./component/input.css');
@import url('./component/dialog.css');
@import url('./component/gird.css');
@import url('./component/checkbox.css');
@import url('./component/combobox.css');
@import url('./component/validate.css');
@import url('./component/toastify.css');
@import url('./component/tooltip.css');
@import url('./component/popup.css');
@import url('./component/loading.css');
@import url('./component/tree.css');

@font-face {
    font-family: 'iconfont';
    src: url('../assets/font/iconfont.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../assets/font/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../assets/font/OpenSans-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../assets/font/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('../assets/font/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../assets/font/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../assets/font/OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../assets/font/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../assets/font/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../assets/font/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('../assets/font/OpenSans-SemiboldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold-webfont';
    src: url('../assets/font/Roboto-Bold-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Italic-webfont';
    src: url('../assets/font/Roboto-Italic-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Light-webfont';
    src: url('../assets/font/Roboto-Light-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Medium-webfont';
    src: url('../assets/font/Roboto-Medium-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular-webfont';
    src: url('../assets/font/Roboto-Regular-webfont.ttf') format('truetype');
}

body {
    font-family: 'OpenSans-Regular';
    font-size: 13px;
    margin: 0;
}

.m-cursor-pointer {
    cursor: pointer;
}