.header {
    width: calc(100% - 200px);
    height: 48px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;

    float: right;
    display: flex;
    align-items: center;
}

/* Header left */
.header .header-left {
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.header .header-left-text {
    font-size: 16px;
    font-family: 'OpenSans-Semibold';
    color: #000000;
    
}

.header-left-icon {
    height: 16px;
    width: 16px;
    margin-left: 5px;
}

.header-left-icon:hover {
    cursor: pointer;
}

/* Header right */
.header .header-right {
    position: absolute;
    right: 16px;
    display: flex;
    align-items: center;
}

.header .header-right .header-right-notification {
    height: 30px;
    width: 30px;
    padding-right: 8px;
    border-right: 1px solid #e5e5e5;
}

.header .header-right .header-right-name {
    margin-left: 8px;
}

.header .header-right .header-right-chevron {
    height: 24px;
    width: 24px;
    margin-left: 8px;
}

.header .header-right .header-right-avatar {
    height: 36px;
    width: 36px;
    margin-left: 8px;
}

.header .header-right .header-right-option:hover {
    cursor: pointer;
}