.navbar {
    width: 200px;
    height: 100vh;
    background-color: #24344B;
    color: #FFFFFF;

    float: left;
}

    .navbar .logo-site {
        position: relative;
        display: flex;
        width: 100%;
        height: 48px;
        align-items: center;
    }

        /* Logo */
        .navbar .logo-site .logo-icon {
            width: 35px;
            height: 35px;
            background-image: url('../../assets/icon/ic_IconThietBi.svg');
            background-size: contain;
            background-repeat: no-repeat;

            margin: 0 8px 0 12px;
        }

        .navbar .logo-site .logo-text {
            font-weight: 600;
            font-size: 16px;
            color: #f3f4f6;
        }

        .navbar .logo-site .logo-sprite {
            position: absolute;
            right: 0;
            height: 50px;
            width: 50px;
            background: #24344b url(../../assets/icon/ic_sprites.svg) no-repeat 0 0;
        }

    /* Navbar content */
    .navbar .navbar-content {
        width: 100%;
        margin-top: 12px;
    }

        .navbar .navbar-content .nav-item {
            display: flex;
            height: 40px;
            /* width: 100%; */
            cursor: pointer;
            color: #B4BAC8;
            align-items: center;
            margin-bottom: 6px;
            text-decoration: none;
        }

        .navbar .navbar-content .nav-item:hover {
            background-color: #404f64;
        }

            .nav-item .nav-item-icon {
                width: 45px;
                display: inline-block;
                height: 35px;
                margin-right: 8px;
            }

        .navbar-content .nav-item-selected .nav-item-text {
            color: #15c068;
            width:  calc(100% - 45px);
        }


.navbar-content .router-link-exact-active {
    background-color: #404f64;
    border-left: 4px solid #15c068;
}

.navbar-content .router-link-exact-active .nav-item-icon {
    width: 41px;
}